.hero{
    padding: 30px 0;
}

#navbarSupportedContent{
    justify-content: space-between;
}
ul, ol{
    list-style: none;
    text-decoration-line: none;
}
h1{
    color:darkblue;
}
.row{
    display: flex;
    align-items: center;
}
.my pt-5{
    color:navy; 
}
.me{
    background-image: url(https://www.figma.com/file/l7Y4tuOsMWc5SeluZ4RUAo/Responsive-landing-page?type=design&node-id=1-503&mode=design&t=Lvumm5EEtQj1cT8K-4);
}